<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <connectionStrings>
    <add name="Server_SAGS"
         connectionString="CjW/2/WTM9JDQ9PXa/jHlLN/VfJcLhn3xxEsRZO4mhmSYrgbiPC7cXj08715bPEeW2Qggpyrc93wndat0AKPIpEUZdAF72+y4v+xlX0XQ7t27ni/LuPuQjcPhvkDk5x9NVtTwauCY0COQxYrStRWO520Y9OtPB7faaQIhXZYizw=" />
    <add name="Server_DAD"
         connectionString="f1vzpdOvQEGkjRRecflqFn4uyLnCLCvxz6Zdr1IaaMQECHTlxbGh+2UY143yX2SDSabhJFwXS/zkZWlyLnziCUn1+4UaWV81c1BlhscwbIQ7No43q8S11pHYMjGe++2E2kLYPYqZIriV+pnyvivRxaq5EX6XJddL4gFL9HNetT8=" />
    <add name="Server_CXR"
         connectionString="f1vzpdOvQEGkjRRecflqFvGpQt1F2UxAkgxGmynFvbCvFLAYTxagDESYqJv20QvI4PwYHiiu+Cz329VFc99sueq1ZNA1if6wmKa2OWEl+VutwO7xqXbjx3g00HR7eFk7Q5fWT7ydjXKBoFnGJz04phfn/L2gYfW2izckUfz6+C4=" />
  </connectionStrings>
  <appSettings>
    <add key="Server_SAGS"
         value="CjW/2/WTM9JDQ9PXa/jHlLN/VfJcLhn3xxEsRZO4mhmSYrgbiPC7cXj08715bPEeW2Qggpyrc93wndat0AKPIpEUZdAF72+y4v+xlX0XQ7t27ni/LuPuQjcPhvkDk5x9NVtTwauCY0COQxYrStRWO520Y9OtPB7faaQIhXZYizw=" />
    <add key="Server_DAD"
         value="f1vzpdOvQEGkjRRecflqFn4uyLnCLCvxz6Zdr1IaaMQECHTlxbGh+2UY143yX2SDSabhJFwXS/zkZWlyLnziCUn1+4UaWV81c1BlhscwbIQ7No43q8S11pHYMjGe++2E2kLYPYqZIriV+pnyvivRxaq5EX6XJddL4gFL9HNetT8=" />
    <add key="Server_CXR"
         value="f1vzpdOvQEGkjRRecflqFvGpQt1F2UxAkgxGmynFvbCvFLAYTxagDESYqJv20QvI4PwYHiiu+Cz329VFc99sueq1ZNA1if6wmKa2OWEl+VutwO7xqXbjx3g00HR7eFk7Q5fWT7ydjXKBoFnGJz04phfn/L2gYfW2izckUfz6+C4=" />
  </appSettings>
</configuration>